# AI Backend
POSTGRES_SERVER=db
POSTGRES_USER=postgres_for_new_monde_franc_le_tout
POSTGRES_PASSWORD=savoirs_franc_le_tout
POSTGRES_DB=aicareerhub
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

OLLAMA_BASE_URL=http://ollama:11434

SECRET_KEY=your_super_secret_jwt_key_change_in_prod_at_least_32_chars
ACCESS_TOKEN_EXPIRE_MINUTES=1440
